<div th:fragment="about">
    <div class="about_wrap_area" style="background-image: url(../img/about/beton.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <h3>Получаем заявку и консультируем</h3>
                        <p>Заполняете заявку на форме сайта для дальнейшей консультации с менеджером </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <h3>Согласовываем объем и срок</h3>
                        <p>Персональный менеджер согласовывает и составляет документацию по условиям </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <h3>Доставляем бетон</h3>
                        <p>Изготавливаем бетонную смесь, выбранной модели. Доставляем в установленный срок</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="about1">
    <div class="about_wrap_area about_wrap_area2">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <h3>Получаем заявку и консультируем</h3>
                        <p>Заполняете заявку на форме сайта для дальнейшей консультации с менеджером </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <h3>Согласовываем объем и срок</h3>
                        <p>Персональный менеджер согласовывает и составляет документацию по условиям </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">

                        <h3>Доставляем бетон</h3>
                        <p>Изготавливаем бетонную смесь, выбранной модели. Доставляем в установленный срок</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>