<div th:fragment="about">
    <div class="about_area ">
        <div class="container-fluid p-0">
            <div class="row no-gutters align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="about_image">
                        <img src="img/about/man.jpeg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about_info">
                        <h3>Нас выбирают</h3>
                        <p>Выполняя огромный труд по внесению слаженности всех процессов, уже более 10 лет<br>
                            профессионализм нашей большой команды заручается доверием по выполнению доставки<br>
                            крупных заказов. Это достигалось путем тщательного отбора специалистов, ведь мы<br>
                            понимаем, что изготовление и отгрузки качественной сырьевой смеси требует большой <br>
                            ответственности на каждом этапе работы. <br>
                            Не смотря на загруженность объемных доставок, предоставляем розничную продажу бетона,<br>
                            аренду техники и оборудования, для частных клиентов по Москве и Московской области.<br>
                            Со всем обеспечением :</p>
                        <ul>
                            <li> Выход на связь 24/7. </li>
                            <li> Полную отчетную документацию. </li>
                            <li> Безопастную доставку и отгрузку бетона.</li>
                        </ul>

                        <div class="about_btn">
                            <a class="boxed-btn3" href="#">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>