<div th:fragment="about">
    <div class="about_wrap_area" style="background-image: url(../img/about/fonn.png);">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <h3>Получаем заявку и консультируем</h3>
                        <p>Заполняете заявку на форме сайта для дальнейшей консультации с менеджером </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <h3>Согласовываем объем и срок</h3>
                        <p>Персональный менеджер согласовывает и составляет документацию по условиям </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <h3>Доставляем бетон</h3>
                        <p>Изготавливаем бетонную смесь, выбранной модели. Доставляем в установленный срок</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="about1" style="background-image: url(../img/about/fon-cena22.png);">
    <div class="about_wrap_area about_wrap_area2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-50">
                        <h3>Слаженность всех процессов</h3>
                        <p>Сеть бетонных заводов, автопарк, доп. обурадвание и большой асортимент бетонной смеси,
                            обеспечат опертивность процесса доставки.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <h3>Получаем заявку и консультируем</h3>
                        <p>Заполняете заявку на форме сайта для дальнейшей консультации с менеджером </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <h3>Согласовываем объем и срок</h3>
                        <p>Персональный менеджер согласовывает и составляет документацию по условиям </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">

                        <h3>Доставляем бетон</h3>
                        <p id = "ceni">Изготавливаем бетонную смесь, выбранной модели. Доставляем в установленный срок</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>