<div th:fragment="app">
    <div class="project_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="project_info text-center">
                        <h3>Скачивайте наше приложение в GooglePlay и App Store</h3>
                        <p>Мы приготовили отличный калькулятор для ЖБК, <br>
                            персональные скидки и целый миксер полезностей!</p>
                        <a href="/" class="boxed-btn3-white">Android</a>
                        <a href="/" class="boxed-btn3-white">IOS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>