<div th:fragment="fin">
    <div class="financial_solution_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="financial_active owl-carousel">
                        <div class="single_finalcial_wrap">
                            <h3>Безопасность и соблюдение ГОСТов,
                                как залог высокого качества</h3>
                            <p>Каждый этап производства, для дальнейшей отгрузки бетонной смеси, подлежит
                                контролю качества обученных специалистов. Для этого проводится ряд мероприятий,
                                по проверке качества наполнителей, их соответствию согласно марки, принятия мер
                                по транспортировке смеси без потери её свойств.
                            </p>
                        </div>
                        <div class="single_finalcial_wrap">
                            <h3>Контроль качества бетона <br>
                                включает:</h3>
                            <p>Дозировку<br>
                                - Точность расчета всех смесей и дополнительных модификаций, для изготовления нужной марки бетона.<br>
                                Длительность смешивания<br>
                                - Во избежание комков и плотностных тел, установлены правила для образования качественной однородной структуры смеси<br>
                                Плотность бетона<br>
                                - Один из важных и единственных параметров, который может отличаться от установленных норм не более 3%.
                            </p>
                        </div>
                        <div class="single_finalcial_wrap">
                            <h3>Выполнение правил безопасности при отгрузки бетона</h3>
                            <p>Каждый сотрудник проходит установленный инструктаж и проверку сертификации. Данное мероприятие
                                влияет не только на качество производства бетонной смеси, но и избежания аварийных ситуаций, что дает гарантию
                                выполнения заказов точно в срок.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="finance_thumb">
                        <img src="img/about/gost1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>