<div th:fragment="footer">
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>
                            <p> Доставка бетона в Москве и Московской области
                                точно в срок.
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Меню
                            </h3>
                            <ul>
                                <li><a href="#">Главная</a></li>
                                <li><a href="#">Цены</a></li>
                                <li><a href="#"> Доставка</a></li>
                                <li><a href="#"> Аренда</a></li>
                                <li><a href="#"> Форма связи</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Контакты
                            </h3>
                            <ul>
                                <li>Домодедовский район поселение Растунов
                                    деревня Шишкино земельный участок 50д, 50е</li>
                                <li>+7 495 928 3131<br>
                                    +7 985 958 3131</li>
                                <li>WhatsApp: +7 985 928 3131</li>
                                <li> beton.9@mail.ru</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">

                            &copy; ООО"СПЕЦТЕХБЕТОН" SK-Бетон. Все права защищены.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>