<div th:fragment="contact">
    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="contact-title">Форма обратной связи</h2>
                </div>
                <div class="col-lg-8">
                    <form class="form-contact contact_form" action="/send.php" method="post" id="contactForm" novalidate="novalidate">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="message" id="message"  onfocus="this.placeholder = 'Вы не указали текст обращения'" onblur="this.placeholder = 'Укажите инетересующий вопрос'" placeholder="Укажите инетересующий вопрос"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = 'Вы не указали имя'" onblur="this.placeholder = 'Как к вам обращаться ?'" placeholder="Как к вам обращаться ?">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Укажите email(при наличии)'" placeholder="Укажите email(при наличии)">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" name="phone" id="phone" type="phone" onfocus="this.placeholder = 'Вы не указали номер'" onblur="this.placeholder = 'Укажите номер телефона'" placeholder="Укажите номер телефона">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Укажите адрес доставки'" placeholder="Укажите адрес доставки">
                                </div>
                            </div>
                        </div>
                        <input class="form__input btn" type="submit" value="Отправить">
                        <input type="hidden" name="act" value="order">
                    </form>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h3>Домодедовский район поселение Растуново</h3>
                            <p> деревня Шишкино земельный участок 50д, 50е</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                        <div class="media-body">
                            <h3>+7 495 928 3131</h3>
                            <h3>+7 985 958 3131</h3>
                            <p>WhatsApp:<br> +7 985 928 3131</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">
                            <h3>beton.9@mail.ru</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>