<div th:fragment="header">
    <header>
        <div class="header-area ">

            <div class="header-top_area d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-md-6 ">

                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="short_contact_list">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-envelope"></i> beton.9@mail.ru</a></li>
                                    <li><a href="#"> <i class="fa fa-phone"></i> +7(495)928-31-31<br>
                                        +7(985)958-31-31</a></li>
                                    <li><a href="#"> <i class="fab fa-whatsapp"></i> +7(985)928-31-31</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="/">
                                        <img src="" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="/">Главная</a></li>
                                            <li><a href="/price#ceni">Цены</a></li>
                                            <li><a href="/price#dosto">Доставка</a></li>
                                            <li><a href="/price#aren">Аренда</a></li>
                                            <li><a href="/contacts">Связаться</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </header>
</div>