<div th:fragment="price" style="background-image: url(../img/about/fon-cena.jpg);">
        <div class="container text-center align-center">
            <div class="col-xl-12">
                <div class="section_title text-center mb-50">
                    <h3>Стоимость бетона</h3>
                </div>
            </div>
            <table class="table-bordered align-center" align="center">
                <tbody>
                <tr>
                    <th rowspan="3">Бетон
                    </th>
                    <th rowspan="3">Марка
                    </th>
                    <th rowspan="3">Цена с НДС за 1м<sup>3</sup>, руб. (без учета доставки)</th>
                </tr>
                <tr>
                    <td>В 7,5</td>
                    <td><a href="/beton-m100">М-100</a></td>
                    <td>2650</td>
                    <td>3150</td>
                    <td>2250</td>
                </tr>
                <tr>
                    <td>В 12.5</td>
                    <td><a href="/beton-m150">М-150</a></td>
                    <td>2750</td>
                    <td>3250</td>
                    <td>2550</td>
                </tr>
                <tr>
                    <td>В 15&nbsp; F100</td>
                    <td><a href="/beton-m200">М-200</a></td>
                    <td>2950</td>
                    <td>3450</td>
                    <td>2850</td>
                </tr>
                <tr>
                    <td>В 20 &nbsp;F100 W6</td>
                    <td><a title="Бетон М250" href="/beton-m250">М-250</a></td>
                    <td>3000</td>
                    <td>3500</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>В 22.5 F200 W6</td>
                    <td><a href="/beton-m300">М-300</a></td>
                    <td>3200</td>
                    <td>3700</td>
                    <td>3350 (пескобетон)</td>
                </tr>
                <tr>
                    <td>В 25 F300 W10</td>
                    <td><a href="/beton-m350">М-350</a></td>
                    <td>3350</td>
                    <td>3850</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>В 30 F400 W10</td>
                    <td><a href="/beton-m400">М-400</a></td>
                    <td>3550</td>
                    <td>4050</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td id = "aren" >В 35 F400 W10</td>
                    <td><a title="Бетон М450" href="/beton-m450">М-450</a></td>
                    <td>-</td>
                    <td>4150</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>В 40 F400 W12</td>
                    <td><a href="/beton-m500">М-500</a></td>
                    <td>-</td>
                    <td>4350</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td colspan="2">Известковый раствор</td>
                    <td colspan="3">2690</td>
                </tr>
                <tr>
                    <th colspan="5">Противоморозные добавки к м<sup>3&nbsp;</sup>бетона (дополнитенльно к стоимости бетона), руб.</th>
                </tr>
                <tr>
                    <td colspan="2">до -5<sup>о</sup><span style="font-size: 8px;"><br></span></td>
                    <td colspan="3">100</td>
                </tr>
                <tr>
                    <td colspan="2">до -10<sup>о</sup></td>
                    <td colspan="3">150</td>
                </tr>
                <tr>
                    <td colspan="2">до -15<sup>о</sup></td>
                    <td colspan="3">200</td>
                </tr>
                <tr>
                    <td colspan="2">до -20<sup>о</sup></td>
                    <td colspan="3">250</td>
                </tr>
                <tr>
                    <td colspan="2">до -25<sup>о</sup></td>
                    <td colspan="3">300</td>
                </tr>
                <tr>
                    <th id = "dosto"  colspan="5">Автобетононасосы с длиной стрелы:</th>
                </tr>
                <tr>
                    <td colspan="3">
                        <ul>
                            <li><strong>22 метра</strong>&nbsp; - от 16000 руб. смена</li>
                            <li><strong>28 метров</strong>&nbsp;- от 17000 руб. смена</li>
                            <li><strong>32 метра</strong>&nbsp; - от 19000 руб. смена</li>
                            <li><strong>36 метров</strong>&nbsp;- от 20000 руб. смена</li>
                        </ul>
                    </td>
                    <td colspan="2">
                        <ul>
                            <li><strong>40 метров</strong>&nbsp;- от 24000 руб. смена</li>
                            <li><strong>46 метров</strong>&nbsp;- от 30000 руб. смена</li>
                            <li><strong>48 метров</strong>&nbsp;- от 31000 руб. смена</li>
                            <li><strong>56 метров</strong>&nbsp;- от 41000 руб. смена</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <ol>
                            <li style="text-align: left;">Дополнительные бетоноводы: На импортный насос - 300-350 руб. за элемент на рабочую смену&nbsp;<br>На отечественный - 300 руб. за элемент на рабочую смену</li>
                            <li style="text-align: left;">Дополнительные гибкие шланги: от 1000 руб</li>
                            <li style="text-align: left;">Не забудьте заказать&nbsp;цементное молочко-пусковую смесь!</li>
                        </ol>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
</div>

<div th:fragment = "dost" style="background-image: url(../img/about/fon-cena33.png);">
    <link >
    <div class = "price_list">
    <div class="container py-7 my-7" >
        <section class="p-md-5 mx-md-5 text-center" >
            <div class="col-xl-12">
                <div class="section_title text-center mb-50">
                    <h3 id = "dost">Доставка по Москве и Московской области</h3>
                </div>
            </div>
            <div class="row m-3">
                <div class="col-lg-4 mb-1 mt-2 p-2">
                    <div class="card text-center">
                        <div class="card-header white">
                            <h4 class="h4 my-2" >АБС с объемом
                                <br>7м<sup>3</sup></h4>
                        </div>
                        <div>
                             <img src ="img/about/bticon1.png" align="top" alt="icon">
                            <i class="far fa-paper-plane fa-4x p-4 teal-text"></i>
                            <h1 class="h1">3500 Руб</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-1 mt-2 p-2">
                    <div class="card text-center">
                        <div class="card-header white">
                            <h4 class="h4 my-2">АБС с объемом
                                <br>8м<sup>3</sup></h4>
                        </div>

                        <div>
                            <img src ="img/about/bticon1.png" align="top" alt="icon">
                            <i class="far fa-paper-plane fa-4x p-4 teal-text"></i>
                            <h1 class="h1">4000 Руб</h1>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-1 mt-2 p-2">
                    <div class="card text-center">
                        <div class="card-header white">
                            <h4 class="h4 my-2">АБС с объемом
                                <br>9<sup>3</sup></h4>
                        </div>

                        <div>
                            <img src ="img/about/bticon1.png" align="top" alt="icon">
                            <i class="far fa-paper-plane fa-4x p-4 teal-text"></i>
                            <h1 class="h1">4500 Руб</h1>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>
</div>