<div th:fragment="price" style="background-image: url(../img/about/fon-cena.jpg);">
        <div class="container text-center align-center">
            <div class="col-xl-12">
                <div class="section_title text-center mb-50">
                    <h3>Стоимость бетона</h3>
                </div>
            </div>
            <table class="table-bordered align-center" align="center">
                <tbody>
                <tr>
                    <th>Бетон
                    </th>
                    <th>Марка
                    </th>
                    <th colspan="3">Цена с НДС за 1м<sup>3</sup>, руб. (без учета доставки)
                    </th>
                </tr>
                <tr>
                    <td>В 7,5</td>
                    <td>М-100</td>
                    <td colspan="3"> 4 900</td>

                </tr>
                <tr>
                    <td>В 12.5</td>
                    <td>М-150</td>
                    <td colspan="3"> 5 050</td>

                </tr>
                <tr>
                    <td>В 15</td>
                    <td>М-200</td>
                    <td colspan="3"> 5 200</td>

                </tr>
                <tr>
                    <td>В 20</td>
                    <td>М-250</td>
                    <td colspan="3"> 5 350</td>

                </tr>
                <tr>
                    <td>В 22.5</td>
                    <td>М-300</td>
                    <td colspan="3"> 5 500</td>

                </tr>
                <tr>
                    <td>В 25</td>
                    <td>М-350</td>
                    <td colspan="3"> 5 650</td>

                </tr>
                <tr>
                    <td>В 30</td>
                    <td>М-400</td>
                    <td colspan="3"> 6 000</td>

                </tr>
                <tr>
                    <td id = "aren" >В 35</td>
                    <td>М-450</td>
                    <td colspan="3"> 6 200</td>

                </tr>


                <tr>
                    <th>Раствор цементный
                    </th>
                    <th>Марка
                    </th>
                    <th colspan="3">Цена с НДС за 1м<sup>3</sup>, руб. (без учета доставки)
                    </th>
                </tr>

                <tr>
                    <td>Пк 3</td>
                    <td>М-100</td>
                    <td colspan="3"> 4 400</td>

                </tr>

                <tr>
                    <td>Пк 3</td>
                    <td>М-150</td>
                    <td colspan="3"> 4 600</td>

                </tr>

                <tr>
                    <td>Пк 3</td>
                    <td>М-200</td>
                    <td colspan="3"> 4 800</td>

                </tr>

                <tr>
                    <th colspan="5">Противоморозная добавка к м<sup>3&nbsp;</sup>бетона (дополнитенльно к стоимости бетона), руб.</th>
                </tr>
                <tr>
                    <td colspan="5">200</td>
                </tr>
                <tr>
                    <th colspan="5">Автобетононасоc с длиной стрелы 22 метра, руб </th>
                </tr>
                <tr>
                    <td colspan="5"> 18 000</td>
                </tr>

                <tr>
                    <th colspan="5"> Дополнительное оборудование, руб
                    </th>
                </tr>

                <tr>
                    <td colspan="2">Шланг</td>
                    <td colspan="3"> 2 000</td>
                </tr>

                <tr>
                    <td colspan="2">Металическая труба</td>
                    <td colspan="3">500</td>
                </tr>
                </tbody>
            </table>
        </div>
</div>

<div th:fragment = "dost" style="background-image: url(../img/about/fon-cena33.png);">
    <link >
    <div class = "price_list">
    <div class="container py-7 my-7" >
        <section class="p-md-5 mx-md-5 text-center" >
            <div class="col-xl-12">
                <div class="section_title text-center mb-50">
                    <h3 id = "dost">Доставка по Москве и Московской области</h3>
                </div>
            </div>
            <div class="row m-3">
                <div class="col-lg-4 mb-1 mt-2 p-2">
                    <div class="card text-center">
                        <div class="card-header white">
                            <h4 class="h4 my-2" >АБС с объемом
                                <br>7м<sup>3</sup></h4>
                        </div>
                        <div>
                             <img src ="img/about/bticon1.png" align="top" alt="icon">
                            <i class="far fa-paper-plane fa-4x p-4 teal-text"></i>
                            <h1 class="h1">3500 Руб</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-1 mt-2 p-2">
                    <div class="card text-center">
                        <div class="card-header white">
                            <h4 class="h4 my-2">АБС с объемом
                                <br>8м<sup>3</sup></h4>
                        </div>

                        <div>
                            <img src ="img/about/bticon1.png" align="top" alt="icon">
                            <i class="far fa-paper-plane fa-4x p-4 teal-text"></i>
                            <h1 class="h1">4000 Руб</h1>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-1 mt-2 p-2">
                    <div class="card text-center">
                        <div class="card-header white">
                            <h4 class="h4 my-2">АБС с объемом
                                <br>9<sup>3</sup></h4>
                        </div>

                        <div>
                            <img src ="img/about/bticon1.png" align="top" alt="icon">
                            <i class="far fa-paper-plane fa-4x p-4 teal-text"></i>
                            <h1 class="h1">4500 Руб</h1>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>
</div>