<div th:fragment="service">
    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-50">
                        <h3>С нами сотрудничают</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_service" style="background-image: url(../img/about/11.jpg);">
                        <div class="service_hover">
                            <img src="img/svg_icon/legal-paper.svg" alt="icon">
                            <h3>ОПТОМ И РОЗНИЦА</h3>
                            <div class="hover_content">
                                <div class="hover_content_inner">
                                    <h4>ОПТОМ И РОЗНИЦА</h4>
                                    <p>Наличие собственного автопарка, обеспечит доставку бетона в любую часть
                                        Москвы и Московской области </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_service" style="background-image: url(../img/about/12.jpg);">
                        <div class="service_hover">
                            <img src="img/svg_icon/case.svg" alt="icon">
                            <h3>ПОЛНОЕ СОПРОВОЖДЕНИЕ</h3>
                            <div class="hover_content">
                                <div class="hover_content_inner">
                                    <h4>ПОЛНОЕ СОПРОВОЖДЕНИЕ</h4>
                                    <p>Производим полное сопровождение сделки, от полученной заявки до доставки
                                        к месту выгрузки бетона</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_service " style="background-image: url(../img/about/13.jpeg);">
                        <div class="service_hover">
                            <img src="img/svg_icon/survey.svg" alt="icon">
                            <h3>СОБЛЮДЕНИЕ СТАНДАРТ</h3>
                            <div class="hover_content">
                                <div class="hover_content_inner">
                                    <h4>СОБЛЮДЕНИЕ СТАНДАРТ</h4>
                                    <p>Контроль качества на каждом
                                        этапе производства.
                                        Строгое соблюдение ГОСТов</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>