<div th:fragment="service">
    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-50">
                        <h3>Explore Our Solutions</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_service service_bg_1">
                        <div class="service_hover">
                            <img src="img/svg_icon/legal-paper.svg" alt="">
                            <h3>Invoicing</h3>
                            <div class="hover_content">
                                <div class="hover_content_inner">
                                    <h4>Invoicing</h4>
                                    <p>These cases are perfectly simple and easy to distinguish. In a free hour power.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_service service_bg_2">
                        <div class="service_hover">
                            <img src="img/svg_icon/case.svg" alt="">
                            <h3>Business Growth</h3>
                            <div class="hover_content">
                                <div class="hover_content_inner">
                                    <h4>Business Growth</h4>
                                    <p>These cases are perfectly simple and easy to distinguish. In a free hour power.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_service service_bg_3">
                        <div class="service_hover">
                            <img src="img/svg_icon/survey.svg" alt="">
                            <h3>Problem Solving</h3>
                            <div class="hover_content">
                                <div class="hover_content_inner">
                                    <h4>Problem Solving</h4>
                                    <p>These cases are perfectly simple and easy to distinguish. In a free hour power.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>