<div th:fragment="slider">
    <div class="slider_area">
        <div class="slider_active owl-carousel">

            <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h1 class="text-light"> Доставка бетона <br>
                                    в Москве и Московской области </h1>
                                <p>Аренда автобетононасоса и ряда миксеров(4-8 куб.метров).</p>
                                <div class="video_service_btn">
                                    <a href="/arenda" class="boxed-btn3">Аренда спецтехники</a>
                                    <a href="/delivery" class="boxed-btn3-white">Доставка</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h2 class="text-light"> Производство бетона СУ-19<br>
                                    Бетонные заводы </h2>
                                <p>Сеть бетонных заводов<br>
                                    и партнеров обеспечут оперативную доствку бетона в срок</p>
                                <div class="video_service_btn">
                                    <a href="/price" class="boxed-btn3">Цены</a>
                                    <a href="/contact" class="boxed-btn3-white">Контакты</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>