<div th:fragment="slider">
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3> Grow Big with <br>
                                    Musicol Business </h3>
                                <p>Nam libero tempore, cum soluta nobis est eligendi optio <br>
                                    cumque nihil impedit quo minus.</p>
                                <div class="video_service_btn">
                                    <a href="#" class="boxed-btn3">Our Services</a>
                                    <a href="#" class="boxed-btn3-white"> <i class="fa fa-play"></i>
                                        See How it Work</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3> Grow Big with <br>
                                    Musicol Business </h3>
                                <p>Nam libero tempore, cum soluta nobis est eligendi optio <br>
                                    cumque nihil impedit quo minus.</p>
                                <div class="video_service_btn">
                                    <a href="#" class="boxed-btn3">Our Services</a>
                                    <a href="#" class="boxed-btn3-white"> <i class="fa fa-play"></i>
                                        See How it Work</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3> Grow Big with <br>
                                    Musicol Business </h3>
                                <p>Nam libero tempore, cum soluta nobis est eligendi optio <br>
                                    cumque nihil impedit quo minus.</p>
                                <div class="video_service_btn">
                                    <a href="#" class="boxed-btn3">Our Services</a>
                                    <a href="#" class="boxed-btn3-white"> <i class="fa fa-play"></i>
                                        See How it Work</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>