<div th:fragment="testmonial">
    <div class="testmonial_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="testmonial_active2 owl-carousel">
                        <div  class="single_slider text-center" data-dot='<img src="img/testmonial/1.png" alt="#" ' >
                            <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able.</p>
                            <div class="author_name text-center">
                                <h4>Robert Jonson</h4>
                                <span> Business Owner</span>
                            </div>
                        </div>
                        <div  class="single_slider text-center" data-dot='<img src="img/testmonial/1.png" alt="#" ' >
                            <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able.</p>
                            <div class="author_name text-center">
                                <h4>Robert Jonson</h4>
                                <span> Business Owner</span>
                            </div>
                        </div>
                        <div  class="single_slider text-center" data-dot='<img src="img/testmonial/1.png" alt="#" ' >
                            <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able.</p>
                            <div class="author_name text-center">
                                <h4>Robert Jonson</h4>
                                <span> Business Owner</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>